*{
	box-sizing: border-box;
	font-family: 'Asap', sans-serif;
	
}

body{
	background-color: #FBF8FB;
}

.header {
	background-color: white;
	
}
.container {
	display: flex;
	flex:auto;
	background-color: #FBF8FB;
	max-width: 800px;
	margin: 20px auto;
	color: #292728;
	flex-direction: column;

}

/*****************************************/
/**********************MENU***************/
/*****************************************/
.menu {
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid #EFEFEE;
	color: #9E999C;
}


.menu__main {
	display: flex;
	align-items: center;
	flex: auto;
	padding: 20px 40px;
	
}


.menu__profile {
	display: flex;
	align-items: center;
	border-left: 1px solid #EFEFEE;
	padding: 20px 40px;
}

.menu__logo {
	width: 50px;
	margin-right: 16px;
	flex: none;
}

.menu__avatar {
	width: 50px;
	margin-right: 16px;
	border-radius: 50%;
	
}

/**************************Container**********/
.title__header {
	padding: 0 40px;
	
}
.title__main {
	font-size: 40px;
	font-weight: normal;
}

.title__sousTitre {
	font-size: 20px;
	color: #B4B4B4;
}

@media(min-width: 800px) {
	.container{
		justify-content: center;
	}
}
/**********************Carte ***************/
.carte {
	display: flex;
	border-radius: 10px;
	border: 1px solid #EFEFEE ;
	background-color: white;
	padding: 20px 40px;
	align-items:center;
}
.carte_cercle {
	border-radius:50%;
	width:100px;
	height:100px;
	flex:none;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #E5EFF5;
	padding-left: 20px;

}

.carte_main {
	display: flex;
	flex:auto;
	flex-direction: column;
	justify-content: center;

}
.carte_start {
	width: 50px;
	
}

.carte_title {
	font-size: 32px;
	display: block;
	margin-bottom: 8px;
}

.carte_description {
	color: #B4B4B4;
	margin-bottom: 8px;
}