*{
	box-sizing: border-box;
	font-family: 'Asap', sans-serif;
	
}

body{
	background-color: #FBF8FB;
}

.header {
	background-color: white;
	
}
.container {
	display: flex;
	flex:auto;
	background-color: #FBF8FB;
	max-width: 800px;
	margin: 20px auto;
	color: #292728;

}

/*****************************************/
/**********************MENU***************/
/*****************************************/
.menu {
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid #EFEFEE;
	color: #9E999C;
}


.menu__main {
	display: flex;
	align-items: center;
	flex: auto;
	padding: 20px 40px;
	
}


.menu__profile {
	display: flex;
	align-items: center;
	border-left: 1px solid #EFEFEE;
	padding: 20px 40px;
}

.menu__logo {
	width: 50px;
	margin-right: 16px;
	flex: none;
}

.menu__avatar {
	width: 50px;
	margin-right: 16px;
	border-radius: 50%;
	
}

/**************************Container**********************/
.title__header {
	padding: 0 40px;
	
}
.title__main {
	font-size: 40px;
	font-weight: normal;
}

.title__sousTitre {
	font-size: 20px;
	color: #B4B4B4;
}
